// @see https://coolors.co/6b2d5c-f0386b-ff5376-f8c0c8-e2c290

$red: #EF104F;
$rose: #FF5376;
$pink: #F8C0C8;
$purple: #6B2D5c;
$gold: #E2C290;
$gray: #999;
$white: #fff;
$black: #1f2d3d;



.text-purple {
  color: $purple !important;
}
.text-pink {
  color: $pink !important;
}
.text-rose {
  color: $rose !important;
}
.text-red {
  color: $red !important;
}
.text-gold {
  color: $gold !important;
}
.text-white {
  color: $white !important;
}
.text-gray {
  color: $gray !important;
}
.text-black {
  color: $black !important;
}


.bg-purple {
  background-color: $purple !important;
}
.bg-pink {
  background-color: $pink !important;
}
.bg-rose {
  background-color: $rose !important;
}
.bg-red {
  background-color: $red !important;
}
.bg-gold {
  background-color: $gold !important;
}
.bg-white {
  background-color: $white !important;
}
.bg-gray {
  background-color: $gray !important;
}
.bg-black {
  background-color: $black !important;
}
