
.triangle-list {
  -webkit-transition: all 1000ms linear;
  -moz-transition: all 1000ms linear;
  -ms-transition: all 1000ms linear;
  -o-transition: all 1000ms linear;
  transition: all 1000ms linear;
}
