// @see https://coolors.co/6b2d5c-f0386b-ff5376-f8c0c8-e2c290
// @see https://sass-lang.com/documentation/values/maps
$colors: (
  "red": #EF104F,
  "rose": #FF5376,
  "pink": #F8C0C8,
  "purple": #6B2D5c,
  "gold": #E2C290,
  "gray": #999,
  "light-gray": #d5d5d5,
  "white": #fff,
  "black": #1f2d3d,
  "blue": #0000ff
);

@function color($color) {
  @return map-get($colors, $color);
}

// @see https://sass-lang.com/documentation/values/maps#do-something-for-every-pair
@each $color_key, $color_val in $colors {
  .text-#{$color_key} {
    color: $color_val !important;
  }

  .bg-#{$color_key} {
    background-color: $color_val !important;
  }

  .border-#{$color_key} {
    border: 1px solid $color_val !important;
  }
  @each $side_key, $side_val in (t: top, r: right, b: bottom, l: left) {
    .border-#{$side_key}-#{$color_key} {
      border-#{$side_val}: 1px solid $color_val !important;
    }
  }
}

// @see https://developer.mozilla.org/en-US/docs/Web/CSS/Using_CSS_custom_properties
:root {
  @each $color_key, $color_val in $colors {
    --#{$color_key}: #{$color_val};
  }
}